.latest-news {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 90px;

  & .news-card {
    flex: 0 0 32%;
  }
}

.news-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 92px;

  & .news {
    margin-bottom: 68px;
  }
}
