.news-archive-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 77px;

  & .news-archive-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 77px;

    & .news-card {
      flex: 0 0 32%;
    }
  }
}
