.breadcrumb-wrapper {
  // width: 100%;
  background-color: #fafafa;
}

.breadcrumb {
  background-color: #fafafa;
  padding: 160px 0 20px 0;
  height: 46px;

  & .breadcrumb-item {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }

    & a {
      color: #050505;
      font-size: 15px;
      font-weight: $Regular;
    }

    &::before {
      display: inline-block;
      content: "";
      width: 11px;
      height: 11px;
      border-radius: 50%;
      background-color: #ffe600;
      margin-right: 19px;
    }

    &:first-child {
      &::before {
        display: none;
      }
    }
  }
}

.breadcrumb-item + .breadcrumb-item::before {
  content: "";
}
