.news {
  display: flex;
  justify-content: space-between;

  & .news-card {
    flex: 0 0 32%;
  }

  & .news-list {
    flex: 0 0 65.5%;

    & .news-item {
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.07);
      padding: 17px;
      margin-bottom: 23px;

      &:last-child {
        margin-bottom: 0;
      }

      &:hover {
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      }

      & .stikers-box {
        margin-bottom: 20px;

        & .stiker-news {
          margin-right: 10px;
        }
      }

      & .title-link {
        display: block;

        & h4 {
          height: 20px;
          color: $title-color;
          font-size: 17px;
          font-weight: $Regular;
          margin-bottom: 20px;
          overflow: hidden;
          transition: 0s;
        }

        &:hover h4 {
          color: $black-color;
        }
      }

      & p {
        margin: 0;
        height: 38px;
        font-size: 13px;
        overflow: hidden;
      }
    }
  }
}
