.social {
  margin: auto;

  ul {
    display: flex;
    justify-content: center;
    align-items: center;

    li {
      & .icon {
        display: inline-block;
        width: auto;
        height: 50px;

        & svg {
          display: block;
          width: 100%;
          height: 100%;
          fill: #333333;
        }
      }

      & .icon-facebook {
        width: 26px;
        margin-right: 40px;

        &:hover {
          & svg {
            fill: #3b5999;
          }
        }
      }

      & .icon-instagram {
        width: 50px;
        margin-right: 27px;

        &:hover {
          & svg {
            fill: #e4405f;
          }
        }
      }

      & .icon-youtube {
        width: 64px;

        &:hover {
          svg {
            fill: #cd201f;
          }
        }
      }
    }
  }
}
