.social {
  margin: auto;

  ul {
    display: flex;
    justify-content: center;
    align-items: center;

    li {
      & .fa {
        display: inline-block;
        width: 50px;
        height: 50px;
        background-color: #333333;

        & svg {
          display: block;
          width: 100%;
          height: 100%;
          fill: #606060;
        }
      }

      & .fa-facebook {
        margin-right: 40px;

        &:hover {
          background-color: #3b5999;
        }
      }

      & .fa-instagram {
        margin-right: 40px;

        &:hover {
          background-color: #e4405f;
        }
      }

      & .fa-youtube:hover {
        background-color: #cd201f;
      }
    }
  }
}
