.video-box {
  & video {
    display: block;
    width: 100%;
    height: auto;
  }

  & img {
    display: block;
    width: 100%;
    height: auto;
  }

  &::before {
    display: block;
    content: "";
    background-color: rgba(10, 10, 10, 0.49);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}
